@model Assignment2.Models.ViewModels.AdsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Brokerage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brokerage.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brokerage.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brokerage.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brokerage.Fee)
        </dd>
    </dl>
   @if(!Model.Advertisements.Any()){
    <form asp-action="Delete">
        <input type="hidden" asp-for="Brokerage.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
        </form>
    }
    else
    {
        <p>You cannot delete a brokerage untill all associated advertisements are deleted</p>
    }
</div>
