@{
    ViewData["Title"] = "Home";
}

<h1>
    This is Assignment 2, navigate to the page of your choice! <br />
    Student Name: Hoang Do <br />
    Student Number: 040961749<br />
    Student Name: Michael Wheatley<br />
    Student Number: 040979797
</h1>
