@{
    ViewData["Title"] = "Home";
}

<h1>
    This is Assignment 2
</h1>
<h4>navigate to the page of your choice! </h4>

<table>
    <tr><th>Team Members</th></tr>
    <tr><td>Hoang Do</td><td>   </td><td>040961749</td></tr>
    <tr><td>Michael Wheatley</td><td>   </td><td>040979797</td></tr>
</table>
</p>
